export ("recluster.boot","recluster.cons","recluster.dist","recluster.multi","recluster.plot","recluster.hist","recluster.node.strength","recluster.identify.nodes","recluster.col","recluster.plot.col","recluster.plot.sites.col","recluster.plot.matrix","recluster.expl.diss","recluster.expl","recluster.line", "recluster.procrustes","recluster.region","recluster.rotate","recluster.test.dist","recluster.group.col")
importFrom("phytools", nodeHeights, treeSlice)
importFrom("phangorn", nnls.tree)
importFrom("picante", phylosor, node.age)
importFrom("cluster", pam, silhouette, diana)
importFrom("vegan", metaMDS, designdist, scores)
import("ape")

